# Introdução

A idéia das coleções é que tenhamos mais de um elemento, suponhamos que temos um sistema que receba a idade dos usuários
a cada nova entrada de idade, precisariamos criar uma nova variável para receber essa nova idade

In [46]:
idade1 = 32
idade2 = 30
idade3 = 45
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

32
30
45
18

Para casos como esse existem as **listas** (*list*) onde podemos inserir os valores entre colchetes. É comum e uma boa prática **trabalharmos com listas que contenham valores do mesmo TIPO**, isso quer dizer somente números inteiros ou somente *strings* por exemplo.

In [47]:
idades = [32, 30, 45, 18]

As listas são a implementação de uma "ideia" para uma sequencia de acesso aleatório onde podemos solicitar o acesso ao elemento da segunda posição ou da quarta por exemplo, as listas em python podem ser comumente comparadas as *arrays* em outras linguagens, porém no python listas e arrays são coisas distintas.

Existem diversos métodos que podem ser utilizados com e para a lista. Um deles é o `len()`

In [48]:
len(idades)

4

Como dito anteriormente podemos também consultar elementos específicos dentro das listas baseando em suas posições, lembrando que em python **a contagem começa sempre a partir de 0** então para encontrar o primeiro elemento pedimos a posição 0

In [49]:
idades[0]

32

A **notação de colchetes**, que usamos para acessar os elementos da lista através do indice, da esquerda para direita, utilizando números inteiros positivos também aceita números inteiro negativos para acesso da direita para a esquerda, ou seja, do último para o primeiro.

In [50]:
idades[-1]

18

A notação de colchetes também permite acessar mais de um elemento de uma lista ao mesmo tempo, bem como uma regra de acesso por exemplo acessar só o valor a cada 2 indices. Para isso a sintaxe é `idades[start:stop:step]` sendo start o indice onde tanto começa a busca, tanto quanto o primeiro acessado, stop é o último indice, até onde será acessado, o valor do indice stop é excludente, portanto o valor ali informado não contará no acesso, step já é a forma que será acessado, por padrão a linguagem já estabelece 1, ou seja elemento por elemento, mas esse argumento também aceita outros números inteiros e também negativos.

In [51]:
idades[4:1:-1]

[18, 45]

Essas funcionalidades também chamada de *slice* (fatiamento), permite acessar elementos, como dito anteriormente, a partir de determinado indice.

O exemplo abaixo acessa os elementos do ínicio até o elemento 1, apesar de ter sido informado o 2, o último indice é excludente.

In [52]:
idades[:2]

[32, 30]

Já no exemplo abaixo, o acesso é a partir do indice dois até o final.

In [53]:
idades[2:]

[45, 18]

Perceba que em ambos os exemplos, um valor de indice foi omitido, bem como o *step*, como padrão o python. Na linha 7, o valor omitido antes dos dois pontos, implicitamente o python entende que desejamos acessar desde o ínicio. Já no exemplo da linha 8 a linguagem entende que desejamos acessar os elementos do indice 2 até o último.

As listas são dinamicas, podendo aumentar ou diminuir sob demanda. Isso quer dizer que podemos acrescentar elementos
a uma lista pré-existente ou remover. Como dito anteriormente as listas possuem diversos métodos pré definidos que podem
ser utilizados para manipular os elementos. Para "chamar" um método utilizamos a **notação de ponto**, um exemplo é o 
`append()` que acrescenta um novo elemento **sempre ao final da lista**.

In [54]:
idades.append(15)
idades

[32, 30, 45, 18, 15]

Se tentarmos acessar agora a posição 4, teremos como resultado o valor 15. Agora e se tentarmos acessar a posição 5 por
exemplo

In [55]:
idades[5]

IndexError: list index out of range

Temos como retorno um erro de indice "IndexError: list index out of range"

Podemos também iterar sobre os elementos da lista, utilizando o laço `for`

In [ ]:
for idade in idades:
    print(idade)

Podemos também remover elementos da lista, utilizando o método remove que também é usado através da notação de ponto. Diferentemente do método append, que insere um novo elemento sempre ao final da lista, o método remove retira um elemento informado dentro dos parênteses como argumento. Caso a lista contenha mais de um elemento com mesmo valor, o 
o método remove a primeira aparição (ocorrência) do elemento, da esquerda para a direita. Caso o método não encontre o elemento passado como argumento, ele retorna um ValueError.

In [ ]:
idades.remove(15)

Conferindo novamente os elementos

In [ ]:
idades

Para remover todos os elementos da lista de uma só vez, podemos utilizar o método `clear()` que limpa toda a lista, removendo todos os elementos de uma só vez. Esse método não recebe nenhum argumento. Ao chamar novamente a variável contendo a lista recebemos como resultado [] que representa uma lista vazia.

O método pop também é usado para remover elementos de uma lista, a diferença é que o argumento que ele recebe é o indice do elemento que deseja remover. Portanto em casos que não se sabe o valor do elemento que deseja ser removido, podemos utilizar o pop para remover pelo indice. Um detalhe é que quando nenhum argumento é passado, o método remove o último elemento da lista.

Se a lista em questão estiver vázia, ou o índice passado não existir o método pop retornará um erro.

In [ ]:
idades.pop(1)

O valor retornado pelo método pop pode ser atribuido a uma nova variável.

In [ ]:
idade = idades.pop(1)

In [ ]:
idade

In [ ]:
idades.clear()

In [ ]:
idades

Podemos verificar uma associação, isso quer dizer se um elemento está na nossa lista, para isso vamos acrescentar novamente um novo elemento utilizando o método append, e posteriormente utilizaremos o operador in para ver se o elemento está contido na nossa coleção.

In [56]:
idades.append(32)

In [57]:
32 in idades

True

Da mesma forma podemos verificar se um valor NÃO está na lista, para isso basta adicionar o operador de negação not

In [58]:
45 not in idades

False

Se a condição representada pelo operador in for verdadeira ela retorna como resultado o valor True, caso contrário retorna False. Isso pode ser utilizado para tomada de decisões no código por exemplo.

Se quisermos adicionar um elemento em uma posição específica da nossa lista temos o método `.insert(i, x)` que recebes dois argumentos, o primeiro, i referece a posição (indice) em que queremos adicionar o novo elemento que é representado aqui por x, os dois separados por vírgula.

In [59]:
idades.insert(0, 45)
idades

[45, 32, 30, 45, 18, 15, 32]

Se quisessemos adicionar mais de um elemento dentro da nossa lista, precisariamos utilizar um novo método que possa receber, por exemplo uma outra lista e adicionar elemento por elemento. O método append não realiza essa tarefa, primeiro que ele recebe apenas um argumento. Poderiamos passar uma lista por ele, porém o que ele faria seria adicionar a LISTA ao final, teriamos então uma lista aninhada. Portanto a melhor forma de se realizar essa tarefa será utilizando o método `.extend()` que recebe como argumento um iterável, iteráveis são todos os objetos que podemos passar elemento por elemento, como é o caso da lista que podemos acessar, item por item utilizando, por exemplo o `for`

In [60]:
idades = [45, 32, 30, 45, 18, 15]
idades.extend([37, 28, 22])
idades

[45, 32, 30, 45, 18, 15, 37, 28, 22]

Podemos realizar operações com cada elemento e posteriormente adicionarmos e uma nova lista, por exemplo suponhamos que queremos adicionar 1 em cada item da lista original, podemos criar um laço for que **passará por cada elemento adicionando 1**:

In [61]:
idades_mais_um = []
for idade in idades:
    idades_mais_um.append(idade + 1)
print(idades_mais_um)

[46, 33, 31, 46, 19, 16, 38, 29, 23]

O python possui uma forma mais simplificada que podemos realizar essa mesma operação, seguindo o mesmo raciocínio 
>crie uma lista e atribua a variável idade_mais_um a o somatório 1 para cada elemento na lista 
`idade_mais_um = [(idade + 1) for idade in idades]`

In [62]:
idades_mais_um = [idade + 1 for idade in idades]

In [63]:
idades_mais_um

[46, 33, 31, 46, 19, 16, 38, 29, 23]

Podemos realizar outras funções combinando expreções condicionais e laços de repetição por exemplo
> Crie uma lista e atribua a uma variável idades_maior para cada elemento da lista os maiores que 21

In [64]:
idade_maior = [idade for idade in idades if idade > 21]
idade_maior

[45, 32, 30, 45, 37, 28, 22]

In [65]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[46, 33, 31, 46, 38, 29, 23]

In [66]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [67]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

#  Listas com objetos de classes nossas

Trabalhando com listas contendo objetos que nós mesmos construimos através das classes.

Criamos uma classe que recebe um código que será o código da conta e também inicializa com saldo 0, além disso criamos um método para adicionar valor ao saldo e por fim um outro método para trazer uma representação em string da conta com o código e o saldo.

In [68]:
class ContaCorrente:

    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self, valor):
        self.saldo += valor
    
    def __str__(self):
        return "[>>Código {} Saldo {}<<]".format(self.codigo, self.saldo)

Agora criamos um objeto ContaCorrente atribuindo a variável conta_bruno com código 123

In [69]:
conta_bruno = ContaCorrente(123)
print(conta_bruno)

[>>Código 123 Saldo 0<<]

Vamos adicionar um saldo de 500 para a conta

In [70]:
conta_bruno.deposita(500)
print(conta_bruno)

[>>Código 123 Saldo 500<<]

Vamos criar uma segunda conta que recebe um número de código e um saldo de 1000.

In [71]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Código 47685 Saldo 1000<<]

Com as duas contas criadas queremos agora trabalhar com as representações em string, por exemplo [>>Código 123 Saldo 500<<], das contas em uma lista.

In [72]:
contas = [conta_bruno, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x0000023D1B179A30>, <__main__.ContaCorrente object at 0x0000023D1B217730>]

Perceba que funciona, recebemos os endereços de memória dos objetos, mas queriamos mesmo era as representações em string [>>Código 123 Saldo 500<<] das contas.

Podemos fazer um laço for para iterar os objetos da lista

In [73]:
for conta in contas:
    print(conta)

[>>Código 123 Saldo 500<<]
[>>Código 47685 Saldo 1000<<]

Isso nos mostra uma lista contendo objetos funcionam normalmente.

A grande preocupação está na **mutabilidade** das listas. Vamos criar uma lista que recebe:

In [74]:
contas = [conta_bruno, conta_da_dani, conta_bruno]

In [75]:
contas[0]

In [76]:
print(contas[0])

[>>Código 123 Saldo 500<<]

Importante ressaltar que os objetos criados possuem sua referência a memória, no momento em que eles são inseridos em uma lista, eles continuam com a mesma referência quando foram criados os objetos, mas passam a receber um novo referêncial que é o indice da lista, no exemplo acima observamos que a referência da posição 0 em contas é conta_bruno.

Os objetos das listas NÃO são novos objetos.

Agora e o elemento na posição 2 da lista contas? Será que referencia ao mesmo endereço de memória do elemento de indice 0, já que ambos possuem o mesmo nome? Não criamos nenhum objeto novo como dito anteriormente, cada elemento da lista fazem referencias aos mesmos objetos criados anteriormente, portanto se realizarmos uma alteração no saldo de conta_bruno, esperamos que ambos elementos tanto da referencia 0 quanto da referencia 2 tenham o mesmo valor de saldo.

In [77]:
conta_bruno.deposita(100)

In [78]:
contas[0]

In [79]:
contas[2]

In [80]:
for conta in contas:
    print(conta)

[>>Código 123 Saldo 600<<]
[>>Código 47685 Saldo 1000<<]
[>>Código 123 Saldo 600<<]

As linhas 24 e 25 mostram que ambos elementos da lista fazem referencia ao mesmo endereço de memória do nosso objeto ContaCorrete. A linha 27 é a representação das nossas contas, observe que ambas, a de posição 0 e posição 2 possuem os mesmos valores.

O problema de termos muitas referências para um mesmo objeto e isso escalar para um número grande de objetos e consequentemente uma enorme quantidade de referências é nos perdermos. Vamos usar a referência na lista (o inice) para tentar depositar um valor a conta do Bruno da seguinte forma:

In [81]:
contas[2].deposita(300)

In [82]:
print(contas[0])

[>>Código 123 Saldo 900<<]

Percebe que fizemos um deposito utilizando como referência o objeto na posição dois e ao chamarmos o objeto na posição 0 temos o reflexo do valor depositado.

In [83]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_bruno, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Código 123 Saldo 900<<] [>>Código 47685 Saldo 1000<<]
[>>Código 123 Saldo 1000<<] [>>Código 47685 Saldo 1100<<]

In [84]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>Código 123 Saldo 1000<<] [>>Código 47685 Saldo 1100<<]

In [85]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

In [86]:
guilherme = ('Guilherme', 37, 1981) # tupla
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [87]:
guilherme.append(6754)

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variação OO
conta_do_gui[1]

1000

In [89]:
conta_do_gui[1] += 100

TypeError: 'tuple' object does not support item assignment

In [90]:
def deposita(conta): # variação "funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [91]:
deposita(conta_do_gui)

(15, 1100)

In [92]:
conta_do_gui

(15, 1000)

In [93]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [94]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [95]:
usuarios.append(('Paulo', 39, 1979))

In [96]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [97]:
usuarios[0][0] = 'Guilherme Silveira'

TypeError: 'tuple' object does not support item assignment

In [98]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [99]:
for conta in contas:
  print(conta)

[>>Código 15 Saldo 500<<]
[>>Código 234876 Saldo 1000<<]

In [100]:
contas.append(423768)

AttributeError: 'tuple' object has no attribute 'append'

In [101]:
contas[0].deposita(300)

In [102]:
for conta in contas:
  print(conta)

[>>Código 15 Saldo 800<<]
[>>Código 234876 Saldo 1000<<]

# Herança e Polimorfismo

In [103]:
class Conta:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return "[>>Código {} Saldo {}]<<".format(self._codigo, self._saldo)

In [104]:
print(Conta(88))

[>>Código 88 Saldo 0]<<

In [108]:
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2
    
class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3

In [106]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Código 16 Saldo 998]<<

In [109]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Código 17 Saldo 1007.0]<<

In [110]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes() # duck typing
    print(conta)

[>>Código 16 Saldo 998]<<
[>>Código 17 Saldo 1007.0]<<

# Array, evitaremos usar

In [111]:
import array as arr

arr.array('d', [1, 3.5]) # criando uma array de números reais, por isso o 'd', e em seguida uma lista com o conteúdo

array('d', [1.0, 3.5])

Array não aceita elementos de tipos diferentes, uma vez determinado o tipo do array, os elementos devem ser desse padrão, não aceitando elementos de diferentes tipos.

In [112]:
arr.array('d', [1, 3.5, "Bruno"])

TypeError: must be real number, not str

É comumente utilizado o numpy para termos maior eficiência em operações matemáticas entre estruturas de dados numéricas.

In [114]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\bruol\anaconda3\lib\site-packages (1.20.1)

In [115]:
import numpy as np

In [117]:
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

As arrays com numpy permitem uma série de opereações, como ditas anterioermente, no exemplo abaixo soma 3 em todos os elementos da nossa lista numeros:

In [118]:
numeros + 3

array([4. , 6.5])

Se criarmos uma classe "Conta Investimentos" que herda os métodos da classe Conta, porém não possuí o método `passa_o_mes`

In [120]:
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3

class ContaInvestimento(Conta):
    pass

Criando uma conta, vemos que funciona normalmente:

In [121]:
ContaInvestimento(764)

Chega a se estranho, imagine que quisessemos que todas as contas que herdam os métodos da classe Conta, como por exemplo o método `passa_o_mes`. Vamos recriar a classe novamente e levantar um erro `NotImplementedError`.

In [122]:
class Conta:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def deposita(self, valor):
        self._saldo += valor
        
    def passa_o_mes(self):
        raise NotImplementedError
    
    def __str__(self):
        return "[>>Código {} Saldo {}]<<".format(self._codigo, self._saldo)

Dessa forma, se um objeto criado através de uma classe que não sobrescreve este método, o erro será informado, como é o caso do `ContaInvestimento`, se o método for chamado a partir de um objeto criado nessa classe o erro será informado.

In [123]:
conta18 = ContaInvestimento(18)
conta18

In [124]:
conta18.passa_o_mes()

AttributeError: 'ContaInvestimento' object has no attribute 'passa_o_mes'

# Igualdade e __eq__

In [129]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return "[>>Codigo {} Saldo {}]".format(self._codigo, self._saldo)

In [130]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0]

In [131]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0]

In [132]:
conta1 == conta2

False

O operador `==` irá avaliar se as duas variáveis referem-se ao mesmo objeto. Por isso o exemplo acima resulta em `False`.

In [133]:
contas = [conta1]

In [134]:
conta1 in contas

True

In [135]:
conta2 in contas

False

Se quisessemos avaliar a posição de igualdade utilizando o operador == ou até mesmo o in, precisariamos instânciar um método de igualdade dentro da nossa classe, muito parecido com o método que cria uma representação em string.

In [136]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        return self._codigo == outro._codigo 
        
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return "[>>Codigo {} Saldo {}]".format(self._codigo, self._saldo)

Aqui implementamos a igualdade entre os código, ou seja, nosso método irá retornar True se o código das contas avaliadas são iguais, ignorando o valor de saldo.

In [137]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

O operador de diferente `!=` também se baseia no método `__eq__`:

In [138]:
conta1 != conta2

False

In [139]:
conta1 in [conta2]

True

In [140]:
conta2 in [conta1]

True

In [145]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return "[>>Codigo {} Saldo {}]".format(self._codigo, self._saldo)

Agora aplicamos ao método __eq__ a comparação do código E do saldo

In [146]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [147]:
conta1.deposita(100)

In [148]:
conta1 == conta2

False

Uma forma melhor ainda é verificar se os objetos criados são da mesma classe, no nosso caso, se são uma Conta Salário

In [149]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return "[>>Codigo {} Saldo {}]".format(self._codigo, self._saldo)

In [150]:
conta1 = ContaSalario(37)

In [151]:
conta2 = ContaCorrente(37)

In [152]:
conta1 == conta2

False

Podemos ser mais especificos e ter uma classe que herda da conta salário.

In [153]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return "[>>Codigo {} Saldo {}]".format(self._codigo, self._saldo)
    
class ContaMultiplosSalario(ContaSalario):
    pass

In [155]:
isinstance(ContaMultiplosSalario(34), ContaSalario)

True

# Builtins como enumerated, range e desempacotamento automatico de tuplas

Vamos tentar imprimir a posição dos elementos e o valor.

In [158]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for idade in idades:
    print(idades.index(idade), "-", idade)

0 - 15
1 - 87
2 - 32
3 - 65
4 - 56
2 - 32
6 - 49
7 - 37

Podemos nos inclinar a implementar dessa forma, e apartir do valor de idade, pedir o indice do elemento e assim fazer a impressão de ambos os valores. Porém essa implementação se torna muito lenta, pois a cada elemento, o método `index` irá percorrer a lista desde o começo, fora que caso a lista possua 2 elementos com mesmo valor em posições diferentes, como no nosso exemplo o **32**, o método `index` sempre irá retornar a primeira ocorrência desse valor.

In [159]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]
len(idades)

8

Sabendo que a nossa lista possui um tamanho de 8 elementos, através da função `len()`, podemos utilizar a função `range()` para dentro de um laço `for` para percorrer todos os elementos da lista, além disso o código fica automatizado, uma vez que a lista pode mudar de tamanho.

In [160]:
for i in range(len(idades)):
    print(i)

0
1
2
3
4
5
6
7

Agora temos os indices de cada elemento. No nosso código o i foi usado como nome de uma variável que recebe o valor de 0 a 7.

In [164]:
for i in range(len(idades)):
    print(i, "-", idades[i])

0 - 15
1 - 87
2 - 32
3 - 65
4 - 56
5 - 32
6 - 49
7 - 37

Agora temos a nossa lista com o indice e o valor de cada indice da lista idades.

Essa implementação é muito simples e resulta o que esperamos, porém enumerar os elementos de uma lista, é algo muito comum dentro do desenvolvimento, portanto é muito possível que já exista algo que realize esse trabalho de forma mais simples ainda.

## Enumerate

In [165]:
print(enumerate(idades))

<enumerate object at 0x0000023D1CBE2880>

O enumerate retorna um objeto de memória, e não a representação que desejamos. Vamos verificar o tipo do dado.

In [166]:
print(type(enumerate(idades)))

<class 'enumerate'>

O enumerate é um iterável, podemos percorrer cada elemento, porém

In [168]:
for idade in enumerate(idades):
    print(idade)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

Perceba que o retorno foi várias tuplas contendo o indice e o valor. Por ser um objeto iterável, podemos inseri-los em uma lista, da seguinte forma:

In [170]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

Agora temos uma lista que contém as tuplas com os indices e seus valores. Dessa forma temos novos indices contendo novos elementos.

Podemos fazer o **desempacotamento** das tuplas utilizando a mesma estrutura `for`:

In [172]:
for indice, idade in enumerate(idades):
    print(indice, idade)

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

O desempacotamento das tuplas podem ser usados de outras formas, vamos utilizar uma lista com tuplas contendo nome, idade e ano de nascimento.

In [173]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for usuario in usuarios:
    print(usuario)

('Guilherme', 37, 1981)
('Daniela', 31, 1987)
('Paulo', 39, 1979)

In [174]:
for nome, idade, nascimento in usuarios:
    print(nome)

Guilherme
Daniela
Paulo

Nesse caso nós ainda tivemos a necessidade de criarmos variáveis (idade e nascimento) que receberam valores, mas mesmo assim não utilizamos, vamos verificar se essas variáveis possuem algum valor.

In [175]:
idade

39

In [176]:
nascimento

1979

Elas estão com os valores da última tupla. Mas como no nosso caso NÃO nos interessa esses valores, não precisamos dessas variáveis. O que podemos fazer é:

In [177]:
for nome, _, _ in usuarios:
    print(nome)

Guilherme
Daniela
Paulo